infra/bootstrap/environments/dev/dev.auto.tfvars
infra/bootstrap/environments/prod/prod.auto.tfvars
infra/environments/prod/prod.auto.tfvars
infra/environments/dev/dev.auto.tfvars
infra/environments/dev/.terraform.lock.hcl
infra/environments/dev/.terraform/terraform.tfstate
infra/bootstrap/environments/dev/.terraform/
infra/environments/dev/.terraform/
infra/bootstrap/environments/dev/.terraform.lock.hcl
infra/bootstrap/environments/dev/terraform.tfstate
infra/bootstrap/environments/prod/.terraform/
infra/environments/prod/.terraform/
infra/environments/prod/.terraform.lock.hcl
infra/bootstrap/environments/prod/.terraform.lock.hcl
infra/bootstrap/environments/prod/terraform.tfstate
infra/bootstrap/environments/dev/terraform.tfstate.backup
